/* Section and Div Box styling including the styling of the bootstarp Jumbotron */
#home_main{
  padding-top: 100px;
  margin-left: 400px;
  margin-right: 400px;
  border-width: thin;
  border-color: black;
}
.jumbotron{
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.8);
}
.card:hover{
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.8);
}
.card-title a{
  color: black;
}
.card-title a:hover{
  color: black;
  font-weight: bold;
}
.picbox1{
  background-color: #e9ecef;
  padding-top: 10px;
}
.picbox2{
  max-width: 515px;
  height: 200px;
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}
/* Text Styling */
    /* Headings */
.jumbotron h1{
  font-family: 'Montserrat', sans-serif;
}
.card-title{
  font-family: 'Montserrat', sans-serif;
}
    /* Body Text */
#button{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
}
p{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  color: black;
}
.card-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  color: black;
}
/* Picture Styling */
.projectimage{
  color: white;
}
.picture{
  height: 400px;
}

/* Responsive Styling */

/* For laptops */
 @media only screen and (min-width:1201px) and (max-width: 1600px) {
/* Section and Div Box responsive styling including the styling of the bootstarp Jumbotron */
  #home_main{
    padding-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
  }
  .jumbotron{
    max-width: 100%;
  }
  .picbox1{
    padding-top: 10px;
  }
  .picbox2{
    max-width: 515px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}
}

/* For Laptops and tablets */
@media only screen and (min-width:801px) and (max-width: 1200px) {
  /* Section and Div Box responsive styling including the styling of the bootstarp Jumbotron */
  #home_main{
    padding-top: 100px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .jumbotron{
    max-width: 100%;
  }
  .picbox1{
    padding-top: 10px;
  }
  .picbox2{
    min-width: 350px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* For tablets */
@media only screen and (min-width:501px) and (max-width:800px) {
  /* Section and Div Box responsive styling including the styling of the bootstarp Jumbotron */
  #home_main{
    padding-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .jumbotron{
    max-width:100%;
  }
  .picbox1{
    padding-top: 10px;
  }
  .picbox2{
    max-width: 353px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* For phones */
@media only screen and (max-width: 500px) {
/* Section and Div Box responsive styling including the styling of the bootstarp Jumbotron */
#home_main{
  padding-top: 100px;
  margin-left: 0px;
  margin-right: 0px;
}
.jumbotron{
  max-width:100%;
}
.picbox1{
  padding-top: 10px;
}
.picbox2{
  max-width: 381px;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 75px;
  padding-right: 100px;
}
}
